.agent {
    padding: 58px 0 60px;
    background: url(../img/works/bg-works.jpg) center center/cover no-repeat;
    &__wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    &__icon {
        width: 102px;
        height: 102px;
        border: 1px solid #fff;
        border-radius: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 21px 27px 30px;
    }
    &__descr {
        font-size: 19px;
        font-weight: 300;
        line-height: 27px;
        color: #fff;
        text-align: center;
    }
}