.btn {
    border: none;
    border-radius: 45px;
    background-color: $main-color;
    color: #fff;
    padding: 16px 24px;
    font-size: 12px;
    &_big {
        font-size: 15px;
        font-weight: 700;
    }
}