.scheme {
    padding: 50px 0 27px;
    background-color: $bg-color;
    &__wrapper {
        padding-top: 24px;
        display: grid;
        grid-template: repeat(auto-fit, minmax(150px, auto)) / 1fr;
        row-gap: 10px;
        justify-content: center;
    }
    &__items {
        display: grid;
        grid-template: repeat(auto-fit, minmax(150px, auto)) / repeat(auto-fit, 261px);
        gap: 10px 30px;
        justify-content: center;
    }
    &__item {
        text-align: center;
    }
    &__title {
        color: $main-color;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
    }
    &__descr {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color: #3A3A3A;
    }
}